[submodule "experiments/scorpion"]
	path = experiments/scorpion
	url = https://github.com/drexlerd/scorpion.git
[submodule "experiments/tarski"]
	path = experiments/tarski
	url = https://github.com/drexlerd/tarski.git
