antlr4-python3-runtime==4.7.2
cycler==0.11.0
dlplan @ file:///home/dominik/projects/code/dlplan
fonttools==4.28.3
kiwisolver==1.3.2
lab==7.0
matplotlib==3.5.0
multipledispatch==0.6.0
numpy==1.21.4
packaging==21.3
Pillow==8.4.0
psutil==5.8.0
pyparsing==3.0.6
python-dateutil==2.8.2
setuptools-scm==6.3.2
simplejson==3.17.6
six==1.16.0
tarski @ file:///home/dominik/projects/code/dlplan/submodules/tarski
tomli==1.2.2
txt2tags==3.7
