name: Pip

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform:
#         Would be good to work on windows support at some point, but we're not there yet
#          - windows-latest
          - macos-latest
          - ubuntu-latest
        python-version: ["3.6", "3.8", "3.9"]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Add requirements
        run: python -m pip install --upgrade wheel setuptools

      - name: Build and install
        run: pip install --verbose .[test]

      - name: Test
        run: pytest api/python
