name: Googletest Unit Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Configure CMake
        run: cmake -DENABLE_TESTING:BOOL=TRUE -DBUILD_SCORPION:BOOL=TRUE -S $GITHUB_WORKSPACE -B ${{runner.workspace}}/build

      - name: Build
        working-directory: ${{runner.workspace}}/build
        run: export CXXFLAGS="-Werror" && cmake --build .

      - name: Test
        working-directory: ${{runner.workspace}}/build
        run: GTEST_OUTPUT=xml:test-results/ GTEST_COLOR=1 ctest -V

#      - name: Upload test results
#        uses: actions/upload-artifact@v2
#        if: failure()
#        with:
#          name: test_results_xml
#          path: ${{runner.workspace}}/build/tests/test-results/*.xml
